<h1>/App</h1>

<p>
  <b>Name</b><br>
  <%= @app.name %>
</p>

<p>
  <b>App key</b><br>
  <%= @app.app_key %>
</p>

<p>
  <b>App type</b><br>
  <%= @app.app_type_id %>
</p>

<div class="form-actions">
  <%= link_to 'Back', apps_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_app_path(@app), :class => 'btn' %>
  <%= link_to 'Delete', app_path(@app), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
